.trenging {
  background-color: rgba(255,255,255, .1);
  border-radius: 10px;
  padding: 15px 5px;
  margin: 20px 0;
  border: 1px solid rgba(255,255,255, .1);

}

.title{
  padding-top: 2px;

  margin-bottom: 15px;
  background-color: rgba(255,255,255,.1);

}