.movieRandom {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 10px;
  padding: 15px 5px;
  margin: 5px 0 10px;
  border: 1px solid rgba(255, 255, 255, .1);
}


.title{

  font-size: 17px;
  color: #ffffff;
  margin: 15px 0;
  background-color: rgba(255,255,255,.1);
  padding: 10px 15px;
}

.popularMovie{

}

.similar{
  padding: 0 5px;
}